<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
    <th:block th:if="${selectPopup != null and selectPopup != ''}">
        <div th:id="${'popup' + listStat.index}" class="popup-container" th:each="list,listStat : ${selectPopup}" th:style="${'top:' + list.popup_top_pstn +  'px;left:' + list.popup_left_pstn + 'px;'}">
            <div class="popup-body">
                <!--&lt;!&ndash;<img src="/images/logo.svg" alt="">&ndash;&gt;-->
                <span th:utext="${list.popup_cn}"></span>
            </div>
            <div class="popup-foot">
                <div class="check check-light">
                    <input th:id="${'popupClose' + listStat.index}" type="checkbox">
                    <i></i>
                    <label th:for="${'popupClose' + listStat.index}">오늘 하루 열지 않기</label>
                </div>
                <!--<a class="close" href="javascript:" onclick="this.parentNode.parentNode.remove();"><span class="blind">팝업 닫기</span></a>-->
                <a class="close" href="javascript:" th:onclick="|closePopup('${listStat.index}');|"><span class="blind">팝업 닫기</span></a>
            </div>
        </div>
    </th:block>
<!--
    <div id="popup2" class="popup-container" style="top:150px;left:150px">
        <div class="popup-body">
            <img src="/kbinnovationhub/images/main/visual-slide-image-1.png" style="width: 1712.59px;height: 963.267px;" alt="">
        </div>
        <div class="popup-foot">
            <div class="check check-light">
                <input id="popupClose1" type="checkbox">
                <i></i>
                <label for="popupClose1">오늘 하루 열지 않기</label>
            </div>
            <a class="close" href="javascript:" onclick="document.getElementById('popup2').remove()"><span class="blind">팝업 닫기</span></a>
        </div>
    </div>
-->

    <!-- 헤더 -->
    <app-header></app-header>

    <!-- 본문 -->
    <main class="main">
        <div class="home">
            <div class="section-visual">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="list : ${selectList}">
                            <div class="background"><img class="item" th:src="|\kbinnovationhub${list.main_path + list.main_file_name}|" alt=""></div>
                            <div class="context">
                                <p class="text" data-split th:utext="${list.main_cn}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title">
                    <img class="item" th:src="@{/images/main/visual-slide-title.svg}" alt="">
                </div>
            </div>
            <div class="section-introduce">
                <div class="sticky">
                    <img class="background" src="/kbinnovationhub/images/main/indroduce-background.jpg" alt="">
                    <div data-animate="fade-in" class="container container-1">
                        <h4 class="section-title"><span class="block">스타트업과 함께 만드는<br><span class="highlight">금융 혁신 핀테크 랩</span></span></h4>
                        <div class="context">
                            <p class="text">KB Innovation HUB센터는 <br>2015년 3월 25일 <span class="color-primary">금융권 최초로 설립된 <br>핀테크 랩</span>으로 스타트업의 실질적인 성장을 <br>지원하고 있습니다.</p>
                        </div>
                    </div>
                    <div class="container container-2">
                        <div class="flex">
                            <div class="side">
                                <p class="title">KB금융과 스타트업이 <br>혁신 아이디어로 <br>함께 만드는 금융의 미래</p>
                            </div>
                            <div class="contents">
                                <picture>
                                    <source media="(max-width:768px)" srcset="/kbinnovationhub/images/main/indroduce-image-mo.png">
                                    <img class="box" src="/kbinnovationhub/images/main/indroduce-image.png" alt="혁신주도: 스타트업 혁신적인 아이디어를 KB금융그룹에 이식하여 변화와 금융혁신을 주도합니다. 동반성장: 스타트업 발굴 및 육성 지원을 통해 스타트업과 KB금융그룹의 동반성장을 지원합니다.">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-history">
                <div class="section-wrap">
                    <h4 class="section-title"><span class="block"><span class="highlight">연혁</span></span></h4>
                </div>
                <div class="history">
                    <div class="progress"><span class="bar"></span></div>
                    <ol class="list">
                        <th:block th:if="${selectHistory != null and selectHistory != ''}" th:each="list, listStat : ${selectHistory}">
                        <li class="item">
                            <th:block th:if="${listStat.index == 1}">
                                <div class="side">
                                    <img class="shape shape-1" src="/kbinnovationhub/images/main/history-shape-1.svg" alt="">
                                </div>
                            </th:block>
                            <th:block th:if="${listStat.index == 8}">
                                <div class="side">
                                    <img class="shape shape-2" src="/kbinnovationhub/images/main/history-shape-2.svg" alt="">
                                </div>
                            </th:block>
                            <th:block th:if="${listStat.index == 11}">
                                <div class="side">
                                    <img class="shape shape-3" src="/kbinnovationhub/images/main/history-shape-3.svg" alt="">
                                </div>
                            </th:block>
                            <th:block th:if="${listStat.index != 11 and listStat.index != 8 and listStat.index != 1}">
                                <div class="side"></div>
                            </th:block>
                            <div class="contents">
                                <p class="year" th:if="${list.display_yn == 0}" th:text="${list.hstry_yr}">2023</p>
                                <div class="context">
                                    <h1 th:if="${list.display_yn == 0}" th:text="${list.hstry_lclsf_ttl}">스타트업 네트워킹 확대</h1>
                                    <ul th:if="${list.display_yn == 0}">
                                        <th:block th:each="listDet, detStat : ${selectHistory}">
                                        <li th:if="${list.hstry_yr == listDet.hstry_yr}" th:text="${listDet.hstry_sclsf_ttl}">KB Starters Day 실시</li>
                                        </th:block>
                                    </ul>
                                    <!--
                                    <h1>글로벌 지원 체계 확대</h1>
                                    <ul>
                                        <li>싱가포르 현지 AC 프로그램 운영</li>
                                        <li>글로벌 PoC 프로그램 실시</li>
                                    </ul>
                                    -->
                                </div>
                            </div>
                        </li>
                        </th:block>
                        <!--
                        <li class="item">
                            <div class="side">
                                <img class="shape shape-1" src="/kbinnovationhub/images/main/history-shape-1.svg" alt="">
                            </div>
                            <div class="contents">
                                <p class="year">2022</p>
                                <div class="context">
                                    <h1>육성프로그램 확대</h1>
                                    <ul>
                                        <li>계열사 제휴 활성화 위한 ‘1:1 밋업’ 도입</li>
                                        <li>창업진흥원 ‘대기업 협업 프로그램’ 도입</li>
                                    </ul>
                                    <h1>투자 지원 확대</h1>
                                    <ul>
                                        <li>그룹 CVC펀드 2호 조성(’22.9)</li>
                                    </ul>
                                    <h1>글로벌 지원 프로그램 확장</h1>
                                    <ul>
                                        <li>‘KB 글로벌 핀테크 랩(싱가포르)’ 오픈(’22.9)</li>
                                        <li>글로벌 육성 스타트업 선발 (KB스타터스 싱가포르)</li>
                                        <li>글로벌 육성 공간 ‘싱가포르 글로벌 HUB’ 운영</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="side"></div>
                            <div class="contents">
                                <p class="year">2021</p>
                                <div class="context">
                                    <h1>육성공간 확대</h1>
                                    <ul>
                                        <li>초기 기업 육성을 위한 관악HUB 오픈(’21.7)</li>
                                    </ul>
                                    <h1>투자 지원 체계 확대</h1>
                                    <ul>
                                        <li>그룹 SI 펀드 조성(’21.12)</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="side"></div>
                            <div class="contents">
                                <p class="year">2020</p>
                                <div class="context">
                                    <h1>육성공간 확장 이전</h1>
                                    <ul>
                                        <li>現 ‘강남 HUB’(신논현역 인근)</li>
                                    </ul>
                                    <h1>멘토링/컨설팅 프로그램 확대</h1>
                                    <ul>
                                        <li>KB Wise 컨설팅 도입</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="side"></div>
                            <div class="contents">
                                <p class="year">2019</p>
                                <div class="context">
                                    <h1>‘KB Innovation HUB센터’로 조직 확대</h1>
                                    <h1>글로벌 육성 지원 체계 도입</h1>
                                    <ul>
                                        <li>글로벌 AC 프로그램 도입 등</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="side"></div>
                            <div class="contents">
                                <p class="year">2018</p>
                                <div class="context">
                                    <h1>투자 지원 체계 구축</h1>
                                    <ul>
                                        <li>금융권 최초의 그룹 CVC펀드 조성(CVC 1호, ’18.7)</li>
                                    </ul>
                                    <h1>멘토링 및 협력 외부 네트워크 확대</h1>
                                    <ul>
                                        <li>‘HUB파트너스’ 구축(20개사, ’18.11)</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="side">
                                <img class="shape shape-2" src="/kbinnovationhub/images/main/history-shape-2.svg" alt="">
                            </div>
                            <div class="contents">
                                <p class="year">2017</p>
                                <div class="context">
                                    <h1>‘KB Innovation HUB(Unit)’으로 조직 확대</h1>
                                    <ul>
                                        <li>금융권 최초의 그룹 CVC펀드 조성(CVC 1호, ’18.7)</li>
                                    </ul>
                                    <h1>육성 스타트업 선발 확대</h1>
                                    <ul>
                                        <li>공모형 선발 방식 도입</li>
                                    </ul>
                                    <h1>육성공간 이전</h1>
                                    <ul>
                                        <li>강남 지역 육성공간 오픈</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="side">
                                <img class="shape shape-3" src="/kbinnovationhub/images/main/history-shape-3.svg" alt="">
                            </div>
                            <div class="contents">
                                <p class="year">2016</p>
                                <div class="context">
                                    <h1>투자 지원 체계 구축</h1>
                                    <ul>
                                        <li>매칭투자 진행(’16.1) </li>
                                        <li>투자협의체 출범(’16.11)</li>
                                    </ul>
                                    <h1>멘토링/컨설팅 기반 구축</h1>
                                    <ul>
                                        <li>‘오아시스멘토단’ 출범 (12개사, ’16.11)</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="side"></div>
                            <div class="contents">
                                <p class="year">2015</p>
                                <div class="context">
                                    <h1>금융권 최초의 핀테크 랩 설립</h1>
                                    <ul>
                                        <li>‘KB 핀테크 HUB센터’ 출범</li>
                                    </ul>
                                    <h1>스타트업 육성공간 마련</h1>
                                    <ul>
                                        <li>舊 명동 본점 내 스타트업 육성공간 오픈</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        -->
                    </ol>
                </div>
            </div>
            <div class="section-program">
                <div class="section-wrap">
                    <h4 class="section-title"><span class="block"><span class="highlight">육성 프로그램</span></span></h4>
                    <div class="context">
                        <ul>
                            <li data-animate="fade-up">
                                <div class="block">
                                    <div class="icon-wrap"><img src="/kbinnovationhub/images/main/program-icon-1.svg" alt=""></div>
                                    <div class="contents">
                                        <p class="title">국내</p>
                                        <p class="text">KB금융그룹의 제휴 및 투자 인프라를 기반으로 <br>스타트업의 성장을 지원합니다.</p>
                                    </div>
                                </div>
                            </li>
                            <li data-animate="fade-up">
                                <div class="block">
                                    <div class="icon-wrap"><img src="/kbinnovationhub/images/main/program-icon-2.svg" alt=""></div>
                                    <div class="contents">
                                        <p class="title">글로벌</p>
                                        <p class="text">‘KB 글로벌 핀테크 랩’과 연계하여 국내 유망 스타트업의 글로벌 진출 및 현지 정착을 지원합니다.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section-status">
                <div class="section-wrap">
                    <h4 class="section-title"><span class="block"><span class="highlight">육성 현황</span></span></h4>
                    <div class="grid">
                        <div class="col">
                            <div class="box">
                                <th:block th:if="${result == null or result == ''}">
                                    <p class="title"><b>육성</b> 2024.11</p>
                                    <p class="text"><b data-count="300">300</b> 개사</p>
                                </th:block>
                                <th:block th:if="${result != null and result != ''}">
                                    <p class="title"><b>육성</b> <span  th:text="${result?.ent_crtr_ymd}"></span></p>
                                    <p class="text"><b th:text="${#numbers.formatInteger(result.ent_nocs, 0, 'COMMA')}" th:data-count="${result.ent_nocs}"></b> 개사</p>
                                </th:block>
                            </div>
                        </div>
                        <div class="col">
                            <div class="box">
                                <th:block th:if="${result == null or result == ''}">
                                    <p class="title"><b>투자</b> 2024.11</p>
                                    <p class="text"><b data-count="2252">2,252</b> 억원</p>
                                </th:block>
                                <th:block th:if="${result != null and result != ''}">
                                    <p class="title"><b>투자</b> <span th:text="${result.invest_crtr_ymd}"></span></p>
                                    <p class="text"><b th:text="${#numbers.formatInteger(result.invest_nocs, 0, 'COMMA')}" th:data-count="${result.invest_nocs}"></b> 억원</p>
                                </th:block>
                            </div>
                        </div>
                        <div class="col">
                            <div class="box">
                                <th:block th:if="${result == null or result == ''}">
                                    <p class="title"><b>제휴</b> 2024.11</p>
                                    <p class="text"><b data-count="343">343</b> 건</p>
                                </th:block>
                                <th:block th:if="${result != null and result != ''}">
                                    <p class="title"><b>제휴</b> <span th:text="${result.affiliate_crtr_ymd}"></span></p>
                                    <p class="text"><b th:text="${#numbers.formatInteger(result.affiliate_nocs, 0, 'COMMA')}" th:data-count="${result.affiliate_nocs}"></b> 건</p>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- 푸터 -->
    <app-footer></app-footer>

    <!-- 개별페이지 스크립트 -->
    <script th:src="@{/js/main.js}"></script>
    <script th:inline="javascript">
        var popList = [[${selectPopup}]];

        $(document).ready(function () {
            if (popList.length > 0) {
                popList.forEach((data, index) => {
                    var chkPopup = getCookie('popup'+index);

                    if (chkPopup === 'Y') {
                        $("#popup"+index+"").hide();
                    } else {
                        $("#popup"+index+"").show();
                    }
                });
            }
        });

        //쿠키설정
        function setCookie( name, value, expiredays ) {
            var todayDate = new Date();
            todayDate.setDate( todayDate.getDate() + expiredays );
            document.cookie = name + '=' + value + '; path=/kbinnovationhub; expires=' + todayDate.toGMTString() + ';'
        }

        //쿠키 불러오기
        function getCookie(name) {
            var obj = name + "=";
            var x = 0;
            while ( x <= document.cookie.length ) {
                var y = (x+obj.length);
                if ( document.cookie.substring( x, y ) === obj ) {
                    if ((endOfCookie=document.cookie.indexOf( ";", y )) === -1 )
                        endOfCookie = document.cookie.length;
                    return ( document.cookie.substring( y, endOfCookie ) );
                }
                x = document.cookie.indexOf( " ", x ) + 1;

                if ( x === 0 ) break;
            }
            return "";
        }

        function closePopup(key) {
            if ($("#popupClose"+key).prop("checked")) {
                setCookie('popup'+key, 'Y' , 1 );
            }
            $("#popup"+key+"").hide();
        }
    </script>
</body>
</html>