<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
<!-- 헤더 -->
<app-header></app-header>

<!-- 본문 -->
<main class="main">
    <div class="section-top">
        <div class="section-top-wrap">
            <nav aria-label="Breadcrumb" class="breadcrumb" data-breadcrub-theme="light">
                <ul>
                    <li><a href="/"><i class="icon icon-home"></i><span class="blind">HOME</span></a></li>
                    <li><a href="/community/notice/list">커뮤니티</a></li>
                    <li><span aria-current="page">공지사항</span></li>
                </ul>
            </nav>
            <h2 class="title">공지사항</h2>
        </div>
    </div>
    <div class="board">
        <div class="board-list">
            <div class="board-list-head">
                <div class="col">
                    <form action="/community/notice/list" method="get">
                        <div class="search">
                            <select class="form-select" aria-label="" name="type" th:value="${type}">
                                <option value="all" th:selected="${type} == 'all'">전체</option>
                                <option value="title" th:selected="${type} == 'title'">제목</option>
                                <option value="content" th:selected="${type} == 'content'">내용</option>
                            </select>
                            <div class="box">
                                <input type="text" name="keyword" placeholder="검색어를 입력해주세요." th:value="${keyword}">
                                <button type="submit"><span class="blind">검색</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="board-list-body">
                <div class="board-card">
                    <div class="total">
                        Total: <em class="color-primary" th:text="${pageCount}"></em>건의 게시물이 있습니다.
                    </div>
                    <!-- 등록된 게시글 없을 때 -->
                    <div class="default-board-list" role="table" th:if="${#lists.size(selectList) == 0}">
                        <div class="tbody" role="rowgroup">
                            <div class="tr" role="row">
                                <div class="td" role="cell">
                                    등록된 게시글이 없습니다.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 게시판 리스트 스킨: default -->
                    <div class="default-board-list" role="table" th:unless="${#lists.size(selectList) == 0}">
                        <div class="thead" role="rowgroup">
                            <div class="tr" role="row">
                                <div class="th" style="width:8%" role="cell">
                                    <span>번호</span>
                                </div>
                                <div class="th" style="width:68%" role="cell">
                                    <span>제목</span>
                                </div>
                                <div class="th" style="width:10%" role="cell">
                                    <span>파일</span>
                                </div>
                                <div class="th" style="width:14%" role="cell">
                                    <span>등록일</span>
                                </div>
                            </div>
                        </div>
                        <div class="tbody" role="rowgroup">
                            <div class="tr" role="row" th:each="list : ${selectList}">
                                <div class="td" role="cell">
                                    <i class="icon icon-notice" th:if="${list.ntc_yn =='Y'}"></i>
                                    <th:block th:unless="${list.ntc_yn =='Y'}" th:text="${list.ntc_sn}"></th:block>
                                </div>
                                <div class="td text-left" role="cell">
                                    <a class="link" th:href="@{/community/notice/detail/{ntc_sn}(ntc_sn=${list.ntc_sn})}">
                                        <span class="title" th:text="${list.ntc_ttl}"></span>
                                        <i class="icon icon-file"></i>
                                    </a>
                                </div>
                                <div class="td" role="cell">
                                    <a th:href="${list.ntc_path + list.ntc_file_name}" th:download="${list.origin_file_name}" title="첨부파일 다운로드" th:if="${list.atch_file_sn != 0}">
                                        <i class="icon icon-file"></i>
                                    </a>
                                </div>
                                <div class="td" role="cell">
                                    <span class="date" th:text="${list.frst_reg_dt}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="board-list-foot">
                <ul class="pagination">
                    <!--
                        #클래스 가이드
                        1. 이전/다음 버튼 비활성화: li 태그에 "disabled" 클래스 추가
                        2. 활성화 상태: li태그에 "active" 클래스 및 "aria-current='page'" 추가
                     -->
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{|/community/notice/list?page=1|}" aria-label="맨 앞 페이지">
                            <span class="first"></span>
                        </a>
                    </li>
                    <!-- 이전으로 이동하는 버튼 -->
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{|/community/notice/list?page=${currentPage - 1 < 1 ? 1 : currentPage - 1}|}" aria-label="이전 페이지">
                            <span class="previous"></span>
                        </a>
                    </li>
                    <th:block th:if="${repeat != null}" th:each="num : ${#numbers.sequence(1, repeat)}">
                        <li class="page-item" aria-current="page" th:classappend="${currentPage != null ? num == currentPage : num == 1} ? 'active' : ''">
                            <a th:id="${'page' + num}" class="page-link" th:href="@{|/community/notice/list?page=${num}|}" th:text="${num}" aria-label=""></a>
                        </li>
                    </th:block>
                    <!-- 다음으로 이동하는 버튼 -->
                    <li class="page-item" th:classappend="${currentPage == repeat} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{|/community/notice/list?page=${currentPage + 1 > repeat ? repeat : currentPage + 1}|}" aria-label="다음 페이지">
                            <span class="next"></span>
                        </a>
                    </li>
                    <!-- 맨 끝페이지 이동 버튼 -->
                    <li class="page-item" th:classappend="${currentPage == repeat} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{|/community/notice/list?page=${repeat}|}" aria-label="맨 뒤 페이지">
                            <span class="last"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>

<!-- 푸터 -->
<app-footer></app-footer>
</body>
</html>