<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
<!-- 헤더 -->
<app-header></app-header>

<!-- 본문 -->
<main class="main">
    <div class="section-top">
        <div class="section-top-wrap">
            <nav aria-label="Breadcrumb" class="breadcrumb" data-breadcrub-theme="light">
                <ul>
                    <li><a href="/"><i class="icon icon-home"></i><span class="blind">HOME</span></a></li>
                    <li><a href="/kbinnovationhub/community/notice/list">커뮤니티</a></li>
                    <li><span aria-current="page">공지사항</span></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="board-view">
        <div class="board-view-head">
            <p class="title" th:text="${notice.ntc_ttl}"></p>
            <div class="info">
                <span class="author"><b>Author</b> <span th:text="${notice.mngr_nm}"></span></span>
                <span class="date"><b>Date</b> <span th:text="${notice.frst_reg_dt}"></span></span>
            </div>
        </div>
        <div class="board-view-body">
            <!-- 에디터로 작성된 콘텐츠 영역 -->
            <div class="contents" th:utext="${notice.ntc_cn}"></div>
            <!-- 첨부파일 -->
            <ul class="addition" th:if="${notice.ntc_path != null}">
                <li class="file">
                    <ul class="list">
                        <li>
                            <a th:href="${notice?.ntc_path + notice?.ntc_file_name}" th:download="${notice?.origin_file_name}" title="첨부파일 다운로드">
                                <i class="icon icon-download"></i>
                                <span th:text="${notice?.origin_file_name}"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="board-view-foot">
            <div class="col">
                <!-- 이전/다음 글 없을 때, disabled 클래스 추가 -->
                <a class="link previous" th:href="@{|/community/notice/detail/${notice.ntc_sn_bef}|}" th:classappend="${notice.ntc_sn_bef == 0} ? 'disabled' : ''">
                    <i class="icon"></i>
                    <div class="text-wrap">
                        <span class="title">PREV</span>
                        <span class="text" th:if="${notice.ntc_sn_bef == 0 || notice.ntc_sn_bef == null}">이전 글이 없습니다.</span>
                        <span class="text" th:if="${notice.ntc_sn_bef != 0 || notice.ntc_sn_bef != null}" th:text="${notice.ntc_ttl_bef}"></span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="link next" th:href="@{|/community/notice/detail/${notice.ntc_sn_aft}|}" th:classappend="${notice.ntc_sn_aft == 0} ? 'disabled' : ''">
                    <i class="icon"></i>
                    <div class="text-wrap">
                        <span class="title">NEXT</span>
                        <span class="text" th:if="${notice.ntc_sn_aft == 0 || notice.ntc_sn_aft == null}">다음 글이 없습니다.</span>
                        <span class="text" th:if="${notice.ntc_sn_aft != 0 || notice.ntc_sn_aft != null}" th:text="${notice.ntc_ttl_aft}"></span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="button button-border" href="/community/notice/list">목록으로</a>
            </div>
        </div>
    </div>
</main>

<!-- 푸터 -->
<app-footer></app-footer>
</body>
</html>