<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="configFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KB Innovation HUB</title>

    <!-- 공통 스타일 시트 -->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/flatpickr.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/sub.css">

    <!-- 임시 스크립트: 헤더/푸터 컴포넌트 (작업용 임시 파일이므로 개발단계부터는 스크립트 파일 안에 HTML 코드 사용) -->
    <script src="/components/header.js"></script>
    <script src="/components/footer.js"></script>
    <script>
        const ENV = 'dev'
    </script>

    <!-- 공통 스크립트 -->
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/gsap.min.js"></script>
    <script src="/js/ScrollToPlugin.min.js"></script>
    <script src="/js/ScrollTrigger.min.js"></script>
    <script src="/js/lenis.min.js"></script>
    <script src="/js/split-type.min.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/echarts-wordcloud.min.js"></script>
    <script src="/js/flatpickr.js"></script>
    <script src="/js/ko.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/countUp.umd.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/jquery-3.6.4.min.js"></script>
</head>
</html>