<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
    <!-- 헤더 -->
    <app-header></app-header>

    <!-- 본문 -->
    <main class="main">
        <div class="section-top section-top--kbstarters">
            <div class="section-top-wrap">
                <nav aria-label="Breadcrumb" class="breadcrumb" data-breadcrub-theme="transparent">
                    <ul>
                        <li class="item"><a href="/"><i class="icon icon-home"></i><span class="blind">HOME</span></a></li>
                        <li class="item"><a href="/starters/support/list">KB스타터스</a></li>
                        <li class="item"><span aria-current="page">지원하기</span></li>
                    </ul>
                </nav>
                <h2 class="title">KB의 미래 협업 파트너로 성장할 <br>KB스타터스를 모집합니다.</h2>
            </div>
        </div>
        <div class="kbstarters">
            <div class="kbstarters-wrap">
                <p class="heading heading-dot">모집 개요</p>
                <table class="table">
                    <tbody>
                        <tr>
                            <th><span class="number">01</span> 모집 구분</th>
                            <td><p>2024년 하반기 KB스타터스 모집</p></td>
                        </tr>
                        <tr>
                            <th><span class="number">02</span> 모집 기간</th>
                            <td><p>2024.08.01(목) ~ 2024.08.20(화) 18시</p></td>
                        </tr>
                        <tr>
                            <th><span class="number">03</span> 모집 대상</th>
                            <td>
                                <p class="title">창업 3년이내 스타트업</p>
                                <p class="sub">※ 모집일 기준 창업(설립) 3년 이내 법인사업자(2021년 10월 1일 이후 설립 기업)</p>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="number">04</span> 모집 분야</th>
                            <td>
                                <p>제한 없음</p>
                                <p class="sub">※ 챗GPT · AI 등 혁신적인 기술서비스를 가진 모든 스타트업</p>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="number">05</span> 선발 절차</th>
                            <td>
                                <p>1차 심사(서류) → 2차 심사(발표) → 최종 선정</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="button-wrap">
                    <a class="button button-border" href="/starters/apply/index"><span>지원하기</span></a>
                </div>
                <div class="ban">
                    <div class="background"><img class="item" th:src="@{/images/sub/kbstarters/ban-background.jpg}" alt=""></div>
                </div>
            </div>
        </div>
    </main>

    <!-- 푸터 -->
    <app-footer></app-footer>
</body>
</html>