<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
    <!-- 헤더 -->
    <app-header></app-header>

    <!-- 본문 -->
    <main class="main">
        <div class="section-top section-top--kbstarters">
            <div class="section-top-wrap">
                <nav aria-label="Breadcrumb" class="breadcrumb" data-breadcrub-theme="transparent">
                    <ul>
                        <li class="item"><a href="/static"><i class="icon icon-home"></i><span class="blind">HOME</span></a></li>
                        <li class="item"><a href="/starters/support/list">KB스타터스</a></li>
                        <li class="item"><span aria-current="page">지원하기</span></li>
                    </ul>
                </nav>
                <h2 class="title">KB의 미래 협업 파트너로 성장할 <br>KB스타터스를 모집합니다.</h2>
            </div>
        </div>
        <div class="kbstarters">
            <div class="kbstarters-wrap">
                <!-- 데이터가 없을 경우 메시지 표시 -->
                <div th:if="${info == null}">
                    <p>데이터가 없습니다.</p>
                </div>

                <div th:unless="${info == null}">
                    <p class="heading heading-dot">모집 개요</p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th><span class="number">01</span> 모집 구분</th>
                            <td><p th:text="${info.survey_category}"></p></td>
                        </tr>
                        <tr>
                            <th><span class="number">02</span> 모집 기간</th>
                            <td><p th:text="${info.survey_date_range}"></p></td>
                        </tr>
                        <tr>
                            <th><span class="number">03</span> 모집 대상</th>
                            <td>
                                <p class="title" th:text="${info.survey_target_heading}"></p>
                                <p class="sub" th:text="${info.survey_target_sub}"></p>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="number">04</span> 모집 분야</th>
                            <td>
                                <p class="title" th:text="${info.survey_field_heading}"></p>
                                <p class="sub" th:text="${info.survey_field_sub}"></p>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="number">05</span> 선발 절차</th>
                            <td>
                                <p th:text="${info.survey_select_process}"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div th:if="${questionCount != 0}" class="button-wrap">
                        <a class="button button-border" th:href="@{|/starters/apply/apply_intro?surveyNo=${info.survey_no}|}"><span>지원하기</span></a>
                    </div>
                    <div class="ban">
                        <div class="background"><img class="item" th:src="@{/images/sub/kbstarters/ban-background.jpg}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- 푸터 -->
    <app-footer></app-footer>
</body>
</html>