<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
<!-- 헤더 -->
<app-header></app-header>

<!-- 본문 -->
<main class="main">
    <th:block th:if="${survey.data.size() == 0}">
        <script th:inline="javascript">
            alert("현재 지원 기간이 아닙니다");
            location.href = /*[[@{/apply/apply_main}]]*/;
        </script>
    </th:block>
    <th:block th:unless="${survey.data.size() == 0}" th:each="question : ${survey.data}">
        <input type="hidden" name="survey_no" th:value="${survey.survey.survey_no}"/>
        <th:block th:if="${question.question_type_no == 1}">
            <div class="apply" th:style="${question.question_order == 1 ? 'display: flex;' : 'display: none;'}"
                 th:attr="data-question-order=${question.question_order}">
                <div class="apply-image">
                    <img th:src="@{/starters/apply/banner(filename=${survey.survey.banner_filename})}" alt="">
                </div>
                <div class="apply-contents">
                    <div class="survey-form">
                        <input type="hidden" name="question_no" th:value="${question.question_no}">
                        <input type="hidden" name="question_type_no" th:value="${question.question_type_no}">
                        <input type="hidden" name="question_order" th:value="${question.question_order}">
                        <input type="hidden" name="required" th:value="${question.required_yn}">
                        <!-- 기본 상태 <form> -->
                        <div class="context">
                            <!-- 질문 -->
                            <h1 class="h5" th:text="${question.question_order}+'. '+${question.question_title}"></h1>
                            <!-- 상세내용 -->
                            <p th:if="${question.question_description != null}" th:utext="${#strings.replace(question.question_description, newLineChar, '&lt;br /&gt;')}"></p>
                            <!-- 객관식 -->
                            <div class="input-group">
                                <div class="radio" th:each="choice : ${question.choices}">
                                    <input th:id="${'option' + choice.question_choice_no}"
                                           th:attr="data-next-question=${choice.move_question_no}" class="input"
                                           type="radio" name="answerCheck" th:value="${choice.question_choice_no}">
                                    <i></i>
                                    <label th:for="${'option' + choice.question_choice_no}" class="label"
                                           th:text="${choice.choice_content}"></label>
                                </div>

                                <!-- 유효성 체크 문구(form 태그에 need-invalid 클래스가 있으면 아래 문구가 나타납니다) -->
                                <div class="invalid-feedback"><i class="icon icon-danger"></i>항목을 선택 해주세요.</div>
                            </div>
                        </div>

                        <div class="bottom-button">
                            <button class="button button-border" onclick="checkAndNext(this, false)"><span>다음으로</span>
                                <i class="icon icon-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${question.question_type_no == 2}">
            <div class="apply" th:style="${question.question_order == 1 ? 'display: flex;' : 'display: none;'}"
                 th:attr="data-question-order=${question.question_order}">
                <div class="apply-image">
                    <img th:src="@{/starters/apply/banner(filename=${survey.survey.banner_filename})}" alt="">
                </div>
                <div class="apply-contents">
                    <div class="survey-form">
                        <input type="hidden" name="question_no" th:value="${question.question_no}">
                        <input type="hidden" name="question_type_no" th:value="${question.question_type_no}">
                        <input type="hidden" name="question_order" th:value="${question.question_order}">
                        <input type="hidden" name="required" th:value="${question.required_yn}">
                        <!-- 기본 상태 <form> -->
                        <div class="context">
                            <!-- 질문 -->
                            <h1 class="h5" th:text="${question.question_order}+'. '+${question.question_title}"></h1>
                            <!-- 상세내용 -->
                            <p th:if="${question.question_description != null}" th:utext="${#strings.replace(question.question_description, newLineChar, '&lt;br /&gt;')}"></p>
                            <!-- 주관식 -->
                            <input class="input" type="text" name="answer">
                            <!-- 유효성 체크 문구(form 태그에 need-invalid 클래스가 있으면 아래 문구가 나타납니다) -->
                            <div class="invalid-feedback"><i class="icon icon-danger"></i>항목을 입력해주세요.</div>
                        </div>

                        <div class="bottom-button">
                            <button class="button button-border" onclick="checkAndNext(this, false)"><span>다음으로</span>
                                <i class="icon icon-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${question.question_type_no == 3}">
            <div class="apply" th:style="${question.question_order == 1 ? 'display: flex;' : 'display: none;'}"
                 th:attr="data-question-order=${question.question_order}">
                <div class="apply-image">
                    <img th:src="@{/starters/apply/banner(filename=${survey.survey.banner_filename})}" alt="">
                </div>
                <div class="apply-contents">
                    <div class="survey-form">
                        <input type="hidden" name="question_no" th:value="${question.question_no}">
                        <input type="hidden" name="question_type_no" th:value="${question.question_type_no}">
                        <input type="hidden" name="question_order" th:value="${question.question_order}">
                        <input type="hidden" name="required" th:value="${question.required_yn}">
                        <!-- 기본 상태 <form> -->
                        <div class="context">
                            <!-- 질문 -->
                            <h1 class="h5" th:text="${question.question_order}+'. '+${question.question_title}"></h1>
                            <!-- 상세내용 -->
                            <p th:if="${question.question_description != null}" th:utext="${#strings.replace(question.question_description, newLineChar, '&lt;br /&gt;')}"></p>
                            <!-- 첨부파일 -->
                            <div class="file-upload">
                                <input id="fileUpload" class="file-input" type="file" name="file[]">
                                <div class="input-wrap">
                                    <span id="fileName" class="input file-name"></span>
                                    <i class="delete"></i>
                                </div>
                                <label class="button button-border" for="fileUpload"><i
                                        class="icon icon-upload"></i><span>파일 찾기</span></label>
                            </div>
                            <!-- 유효성 체크 문구(form 태그에 need-invalid 클래스가 있으면 아래 문구가 나타납니다) -->
                            <div class="invalid-feedback"><i class="icon icon-danger"></i>파일을 첨부해주세요.</div>
                        </div>
                        <div class="bottom-button">
                            <button class="button button-border" onclick="checkAndNext(this, false)"><span>다음으로</span>
                                <i class="icon icon-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${question.question_type_no == 4}">
            <div class="apply" th:style="${question.question_order == 1 ? 'display: flex;' : 'display: none;'}"
                 th:attr="data-question-order=${question.question_order}">
                <div class="apply-image">
                    <img th:src="@{/starters/apply/banner(filename=${survey.survey.banner_filename})}" alt="">
                </div>
                <div class="apply-contents">
                    <input type="hidden" name="question_type_no" th:value="${question.question_type_no}">
                    <input type="hidden" name="question_order" th:value="${question.question_order}">
                    <input type="hidden" name="required" value="N">
                    <div class="context" th:utext="${question.question_description}"></div>
                    <div class="bottom-button">
                        <button class="button button-border" onclick="checkAndNext(this, true)"><span>다음으로</span> <i
                                class="icon icon-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>
    <div id="modalComplete" class="modal-container">
        <div class="modal-wrapper">
            <div class="modal">
                <div class="modal-body">
                    <form>
                        <p class="heading">제출하기</p>
                        <p class="title p5 text-center">모든 접수 단계가 완료되었습니다.</p>
                        <p class="p text-center">최종 제출 하시겠습니까? <br><span class="color-primary fw-medium">회사명과 이메일 주소</span>를 입력 후 제출하기를 누르면, <br class="br-small">입력 내용으로 최종 접수됩니다.</p>
                        <div class="input-wrap">
                            <input name="companyName" type="text" placeholder="회사명을 입력하세요.">
                            <input name="email" type="email" placeholder="이메일 주소를 입력하세요.">
                        </div>
                        <div class="button-wrap">
                            <button class="button button-border" type="button" onclick="closeModal('modalComplete')">아니오
                            </button>
                            <button class="button button-primary" type="button" onclick="apply()">예</button>
                        </div>
                    </form>
                </div>
                <div class="modal-foot">
                    <a class="close" href="javascript:" onclick="closeModal('modalComplete')"><span class="blind">팝업 닫기</span></a>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- 푸터 -->
<app-footer></app-footer>

<!-- 스크립트 -->
<script th:inline="javascript">
    const formData = new FormData();
    let maxQuestionOrder = [[${survey.data.get(survey.data.size() - 1).question_order}]];
    let formDataIndex = 0;

    $("input[name='file[]']").change(function () {
        let file = $(this).val();
        let fileName = file.split("\\").pop();
        $(this).parent().find(".file-name").text(fileName);
    });

    function checkAndNext(el, isEditorContent) {
        let $this = $(el);
        let $form = $this.parent().parent();
        let currentQuestionOrder = $form.find("input[name='question_order']").val();
        if (isEditorContent) {
            changeContent(currentQuestionOrder, parseInt(currentQuestionOrder) + 1);
        } else {
            let questionTypeNo = $form.find("input[name='question_type_no']").val();
            let required = $form.find("input[name='required']").val();
            if (questionTypeNo == 1) {
                if (required === 'Y') {
                    let checked = $form.find("input[name='answerCheck']:checked").val();
                    if (!checked) {
                        $form.addClass("need-invalid");
                        return;
                    }
                }
                let questionNo = $form.find("input[name='question_no']").val();
                formData.append(`answers[${formDataIndex}].question_no`, questionNo);
                let questionChoiceNo = $form.find("input[name='answerCheck']:checked").val();
                formData.append(`answers[${formDataIndex}].question_choice_no`, questionChoiceNo);
                formDataIndex++;
                let nextQuestionOrder = $form.find("input[name='answerCheck']:checked").attr('data-next-question');
                if (!nextQuestionOrder || nextQuestionOrder == 0) {
                    nextQuestionOrder = parseInt(currentQuestionOrder) + 1;
                }
                changeContent(currentQuestionOrder, nextQuestionOrder);
            } else if (questionTypeNo == 2) {
                if (required === 'Y') {
                    let answer = $form.find("input[name='answer']").val();
                    if (answer === '') {
                        $form.addClass("need-invalid");
                        return;
                    }
                }
                let questionNo = $form.find("input[name='question_no']").val();
                formData.append(`answers[${formDataIndex}].question_no`, questionNo);
                let answer = $form.find("input[name='answer']").val();
                formData.append(`answers[${formDataIndex}].answer_content`, answer);
                formDataIndex++;
                changeContent(currentQuestionOrder, parseInt(currentQuestionOrder) + 1);
            } else if (questionTypeNo == 3) {
                if (required === 'Y') {
                    let file = $form.find("input[name='file[]']").val();
                    if (file === '') {
                        $form.addClass("need-invalid");
                        return;
                    }
                }
                let questionNo = $form.find("input[name='question_no']").val();
                formData.append(`answers[${formDataIndex}].question_no`, questionNo);
                let fileInput = $form.find("input[name='file[]']")[0];
                let files = fileInput ? fileInput.files : null;

                if (files && files.length > 0) {
                    for (let i = 0; i < files.length; i++) {
                        formData.append(`answers[${formDataIndex}].answer_file`, files[i]);
                    }
                }
                formDataIndex++;


                changeContent(currentQuestionOrder, parseInt(currentQuestionOrder) + 1);
            } else if (questionTypeNo == 4) {
                changeContent(currentQuestionOrder, parseInt(currentQuestionOrder) + 1);
            }
        }
    }

    function apply() {
        let companyName = $("input[name='companyName']").val();
        let email = $("input[name='email']").val();
        if(!companyName || !email) {
            alert("회사명과 이메일 주소를 입력해주세요.");
            return;
        }
        if (!emailCheck(email)) {
            alert("유효하지 않은 이메일 주소입니다.");
            $("input[name='email']").focus()
            return false;
        }

        formData.append("survey_no", $("input[name='survey_no']").val());
        formData.append("company_name", companyName);
        formData.append("email", email);
        $.ajax({
            url: /*[[@{/starters/apply/apply}]]*/,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: function (response) {
                if (response.result == 'success') {
                    alert("접수가 완료되었습니다.");
                    location.href = /*[[@{/starters/apply/apply_main}]]*/;
                } else {
                    alert(response.message);
                }
            }
        });
    }

    //이메일 정합성 체크
    function emailCheck(email_address){
        var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
        return email_regex.test(email_address);
    }

    function changeContent(current, next) {
        if (next > maxQuestionOrder || next == 99) {
            openModal('modalComplete');
            return;
        }

        let $current = $('.apply[data-question-order=' + current + ']');
        let $next = $('.apply[data-question-order=' + next + ']');
        $current.css("display", "none");
        $next.css("display", "flex");

        window.location.hash = `step-${next}`;
    }

    window.addEventListener("hashchange", function () {
        let hash = window.location.hash;

        if (hash.startsWith("#step-")) {
            let step = parseInt(hash.replace("#step-", ""));

            if (!isNaN(step)) {
                let $currentVisible = $('.apply:visible'); // 현재 보이는 요소 찾기
                let currentStep = parseInt($currentVisible.attr("data-question-order"));

                if (currentStep !== step) {
                    changeContent(currentStep, step);
                }
            }
        }
    });

    // 페이지 로드 시 초기화
    $(document).ready(function () {
        if(!sessionStorage.getItem('reload')) {
            let hash = window.location.hash;
            if (hash.startsWith("#step-")) {
                let step = parseInt(hash.replace("#step-", ""));
                if (!isNaN(step)) {
                    // 초기 로드 시 해시가 있으면 해당 스텝으로 이동
                    changeContent(null, step);
                }
            } else {
                // 초기 스텝으로 설정
                window.location.hash = "step-1";
            }
        }else{
            sessionStorage.removeItem('reload');
            window.location.hash = "step-1";
        }
    });

    $(window).on('beforeunload', function() {
        // 새로고침시 해시 초기화 용도
        sessionStorage.setItem('reload', 'Y')
    });

</script>
</body>
</html>