<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
    <!-- 헤더 -->
    <app-header></app-header>

    <!-- 본문 -->
    <main class="main">
        <div class="nurture nurture-global">
            <div class="section-intro">
                <div class="sticky">
                    <div class="section-top">
                        <div class="section-top-wrap">
                            <nav aria-label="Breadcrumb" class="breadcrumb" data-breadcrub-theme="light">
                                <ul>
                                    <li class="item"><a href="/"><i class="icon icon-home"></i><span class="blind">HOME</span></a></li>
                                    <li class="item"><a href="/kbinnovationhub/nurture/dosmetic/info">스타트업 육성</a></li>
                                    <li class="item"><span aria-current="page">글로벌 프로그램</span></li>
                                </ul>
                            </nav>
                            <h2 class="title">GLOBAL</h2>
                        </div>
                    </div>
                    <div class="background">
                        <img class="item" src="/kbinnovationhub/images/sub/nurture/global/intro-background-global.jpg" alt="">
                    </div>
                    <div class="block">
                        <p class="heading">'KB글로벌 핀테크 랩'과 연계하여 국내 유망 스타트업의 <br>글로벌 진출 및 현지 정착을 지원합니다.</p>
                    </div>
                </div>
            </div>
            <div class="section section-1">
                <div class="section-wrap">
                    <h3 class="section-heading color-secondary">KB 글로벌 핀테크 랩</h3>
                    <p class="section-text">KB금융그룹은 2022년 9월 ‘KB 글로벌 핀테크 랩(싱가포르)’를 오픈하고 스타트업의 성공적인 글로벌 진출 지원을 위한 <br class="pc">글로벌 육성 프로그램을 운영하고 있습니다.</p>
                </div>
            </div>
            <div class="section section-background">
                <div class="section-wrap">
                    <h3 class="section-heading">육성 프로그램</h3>
                    <div class="section-context">
                        <h4 class="section-title"><span class="block"><span class="highlight highlight-teal">현지 정착 지원</span><sup class="color-secondary">01</sup></span></h4>
                        <p class="section-text">글로벌 진출 초기 스타트업이 현지에서 원활하게 정착할 수 있도록 <br class="pc">다양한 정착 지원 프로그램을 운영하고 있습니다.</p>
                    </div>
                    <div class="onsite">
                        <div class="contents">
                            <ul class="list">
                                <li>글로벌 핀테크랩 내 <br>상주직원을 통한 지원</li>
                                <li>현지 법인 설립 지원</li>
                                <li>현지 기관 대상 KB <br class="pc">육성기업 홍보</li>
                            </ul>
                        </div>
                        <div class="side">
                            <div class="line">
                                <span class="light"></span>
                                <span class="dot"></span>
                            </div>
                            <img src="/kbinnovationhub/images/sub/nurture/global/onsite-icon.svg" alt="">
                            <p>현지 정착</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-wrap">
                    <div class="section-context">
                        <h4 class="section-title"><span class="block"><span class="highlight highlight-teal">시장 진입 지원</span><sup class="color-secondary">02</sup></span></h4>
                        <p class="section-text">현지 연계 글로벌 육성 프로그램 운영</p>
                    </div>
                    <ul class="ac">
                        <li>
                            <div class="block">
                                <div class="side">
                                    <img src="/kbinnovationhub/images/sub/nurture/global/ac-icon-1.svg" alt="">
                                    <p class="title">글로벌 AC 프로그램</p>
                                </div>
                                <div class="context">
                                    <p class="p">싱가포르 현지 AC 위탁을 통한 KB스타터스 싱가포르 맞춤형 육성프로그램 제공</p>
                                    <p>※ 비즈니스 모델 수립, 현지 비즈니스 미팅, 멘토링 등 프로그램 운영</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="block">
                                <div class="side">
                                    <img src="/kbinnovationhub/images/sub/nurture/global/ac-icon-2.svg" alt="">
                                    <p class="title">글로벌 PoC 프로그램</p>
                                </div>
                                <div class="context">
                                    <p class="p">현지 대기업과의 협업 기회 제공을 통한 해외 비즈니스 레퍼런스 확보 및 사업화 가능성 검증 기회 제공</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section section-slider section-background">
                <div class="section-wrap">
                    <div class="section-context">
                        <h4 class="section-title"><span class="block"><span class="highlight highlight-teal">현지 생태계 <br>교류 지원</span><sup class="color-secondary">03</sup></span></h4>
                        <p class="section-text">스타트업의 글로벌 성장 지원을 위해 현지 기관 연계 데모데이, 간담회 등의 네트워킹 행사를 운영하고, <br class="pc">현지 생태계와의 다양한 교류 기회를 제공합니다.</p>
                    </div>
                    <div class="slider-container">
                        <div class="swiper slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" th:each="list : ${interchange}">
                                    <div class="thumbnail">
                                        <img th:src="|\kbinnovationhub${list?.inter_path + list?.inter_file_name}|" alt="">
                                    </div>
                                    <p class="title" th:text="${list.exch_ttl}"></p>
                                    <p class="text" th:text="${list.exch_cn}"></p>
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-wrap">
                    <h3 class="section-heading">지원 혜택</h3>
                    <div class="section-context">
                        <h4 class="section-title"><span class="block"><span class="highlight highlight-teal">육성공간</span><sup class="color-secondary">01</sup></span></h4>
                        <p class="section-text">KB스타터스 싱가포르를 대상으로 현지에 상주할 수 있는 육성공간을 제공하며, <br class="pc">KB스타터스의 해외 출장 시 현지 업무공간을 지원하고 있습니다.</p>
                    </div>
                    <div class="roomy">
                        <div class="roomy-head">
                            <p class="title">싱가포르 글로벌 HUB</p>
                            <p class="text"><b>주소 </b>21 Collyer Quay 3F, Singapore</p>
                        </div>
                        <div class="roomy-body">
                            <div class="swiper roomy-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="thumbnail"><img src="/kbinnovationhub/images/sub/nurture/global/roomy-image-1.jpg" alt=""></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="thumbnail"><img src="/kbinnovationhub/images/sub/nurture/global/roomy-image-2.jpg" alt=""></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="thumbnail"><img src="/kbinnovationhub/images/sub/nurture/global/roomy-image-3.jpg" alt=""></div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- 푸터 -->
    <app-footer></app-footer>

    <script>
    window.addEventListener('DOMContentLoaded', () => {
        sr.reveal('.section-1 .section-heading', { distance: 0 });
        sr.reveal('.section-title', { distance: 0, opacity: 1 });
        sr.reveal('.section-text');

        introduce();
        slider();
        rommy();
    });

    function introduce() {
        const tl = gsap.timeline();
        let mm = gsap.matchMedia();

        mm.add("(min-width: 1025px)", () => {
            gsap.to('.nurture .section-intro .background', 0.65, { ease: 'power1.out', opacity: 1, delay: 0.2 });

            tl.fromTo('.nurture .section-intro .background', 1.5, {
                top: 'calc(1.8vw + 340px)', width: '90%', maxWidth: '1420px', maxHeight: '460px', height: 'calc(95vh - 380px)', borderRadius: '24px'
            }, {
                ease: 'power2.inOut', top: 'calc(0vw + 0px)', maxWidth: '100vw', width: '100%', maxHeight: '100vh', height: 'calc(100vh - 0px)', borderRadius: '0px',
            })
            tl.to('.section-top', { opacity: 0, yPercent: -10 }, '<+15%')
            tl.fromTo('.nurture .section-intro .heading', 0.35, { opacity: 0, yPercent: 55 }, { opacity: 1, yPercent: 0 }, '>+25%')
            .to({}, 1, {})

            ScrollTrigger.create({
                animation: tl,
                trigger: '.section-intro',
                start: 'top top',
                end: 'bottom bottom',
                scrub: 1,
                // markers: true
            });
        });
    }

    function slider() {
        var slider = new Swiper('.slider', {
            speed: 400,
            spaceBetween: 12,
            slidesPerView: 1.5,
            slidesPerGroup: 1,
            scrollbar: {
                el: '.slider .swiper-scrollbar',
                draggable: true,
            },
            navigation: {
                nextEl: '.slider-container .swiper-button-next',
                prevEl: '.slider-container .swiper-button-prev',
            },
            breakpoints: {
                1025: {
                    spaceBetween: 24,
                    slidesPerView: 3,
                    slidesPerGroup: 1,
                }
            }
        });
    }

    function rommy() {
        var slider = new Swiper('.roomy-slider', {
            speed: 400,
            spaceBetween: 10,
            slidesPerView: 1.5,
            slidesPerGroup: 1,
            scrollbar: {
                el: '.roomy-slider .swiper-scrollbar',
                draggable: true,
            },
            breakpoints: {
                1025: {
                    spaceBetween: 20,
                    slidesPerView: 3,
                    slidesPerGroup: 1,
                }
            }
        });
    }
    </script>
</body>
</html>