@keyframes slide {
    from { transform: scale(1.2); }
    to { transform: scale(1); }
}
@keyframes fadeIn {
    to { opacity: 1; }
}
.home .section-title { margin-bottom: 64px; line-height: 1.5; }
.home .section-wrap { margin-right: auto; margin-left: auto; max-width: var(--inner); width: 90%; }

.section-visual { overflow: hidden; position: relative; background: #111; }
.section-visual .swiper-slide { height: 100vh; background: #111; }
.section-visual [data-swiper-slide-index="0"] .background .item { transform: scale(1.2); animation: slide ease 5s forwards; }
.section-visual .background .item { width: 100%; height: 100%; object-fit: cover; }
.section-visual .background-2 { opacity: 0.6; }
.section-visual .context { position: absolute; bottom: 140px; left: 0; right: 0; margin: auto; width: 90%; max-width: var(--inner); }
.section-visual .title { z-index: 2; position: absolute; left: 0; right: 0; bottom: 260px; margin: auto; width: 90%; max-width: var(--inner); }
.section-visual .title .item { width: 630px; height: auto; }
.section-visual .text { line-height: 1.5; font-size: 32px; font-weight: 700; color: #fff; }
.section-visual .word,
.section-visual .char { will-change: transform; }

.section-introduce { position: relative; margin: 0; max-width: none; height: 200vh; }
.section-introduce .sticky { overflow: hidden; position: sticky; top: 0; left: 0; width: 100%; height: 100vh; }
.section-introduce .background { position: absolute; top: 39vh; left: calc(50vw - 710px); width: 31.4vw; height: 22.2vw; object-fit: cover; border-radius: 24px; }
.section-introduce .container {position: relative; margin-right: auto; margin-left: auto; max-width: var(--inner); width: 90%; height: 100%; }
.section-introduce .container-1 { width: 90%; }
.section-introduce .container-2 { z-index: 2; display: flex; align-items: center; position: absolute; top: 0; left: 0; right: 0; padding-top: 100px; height: 100%; }
.section-introduce .section-title {position: absolute; top: 16%; left: 0;}
.section-introduce .context { display: flex; position: absolute; top: 52%; left: 59.5%; }
.section-introduce .context .text { line-height: 1.7; font-size: 24px; font-weight: 700; }
.section-introduce .flex { display: flex; justify-content: space-between; width: 100%; }
.section-introduce .side .title { margin-top: 30px; line-height: 1.5; font-family: var(--font-display); font-size: 40px; font-weight: 700; color: #fff; }
.section-introduce .contents { display: flex; padding: 40px 18px 40px 40px; background: rgba(0, 0, 0, 0.3); border-radius: 40px; backdrop-filter: blur(30px); }
.section-introduce .contents img { margin-bottom: -10px; }

.section-history { position: relative; padding: 160px 0; }
.section-history .history { position: relative; padding-bottom: 160px; }
.section-history .history .progress { position: absolute; top: 15px; left: 0; right: 0; margin: auto; width: 2px; height: 100%; background: #EEEEEE; }
.section-history .history .progress .bar { position: absolute; top: 0; left: 0; width: 100%; height: 0; background: var(--clr-primary); }
.section-history .history .year { position: relative; margin: 64px 0 26px; line-height: 1; font-family: 'KBFG Display'; font-size: 40px; font-weight: 700; color: var(--clr-primary); }
.section-history .history .year::before { content: ''; position: absolute; top: 0.265em; left: -136px; width: 12px; height: 12px; background: var(--clr-primary); border-radius: 50%; transition: box-shadow ease .3s; }
.section-history .history .item { display: flex; }
.section-history .history .item:first-child .year { margin-top: 0; }
.section-history .history .side { width: 50%; }
.section-history .history .contents { width: 50%; }
.section-history .context h1 { margin: 20px 0 4px; font-size: 20px; font-weight: 700; color: var(--clr-dark); }
.section-history .context h1:first-child { margin-top: 0; }
.section-history .context li { position: relative; padding-left: 0.6em; line-height: 1.65; text-indent: -0.6em; color: var(--clr-dark); }
.section-history .context li::before { content: ''; display: inline-block; margin-right: 0.5em; vertical-align: 0.25em; width: 3px; height: 3px; background: var(--clr-dark); border-radius: 50%; }
.section-history .history .item:nth-child(odd) .contents { padding-left: 130px; }
.section-history .history .item:nth-child(odd) .side { padding-right: 130px; }
.section-history .history .item:nth-child(even) { flex-direction: row-reverse; }
.section-history .history .item:nth-child(even) .side { padding-left: 130px; text-align: right;  }
.section-history .history .item:nth-child(even) .contents { padding-right: 130px; padding-left: 5%; text-align: right; max-width: 710px; }
.section-history .history .item:nth-child(even) .year::before { left: auto; right: -136px; }
.section-history .history .item.on .year::before { box-shadow: 0 0 0 8px rgba(252, 176, 23, 0.3); }

.section-program { padding-bottom: 160px; }
.section-program .side { position: relative; margin-bottom: 76px; width: 50%; }
.section-program .sticky { top: 100px; left: 0; }
.section-program .context ul { display: flex; justify-content: space-between; margin: -12px; }
.section-program .context li { padding: 12px; width: 50%; }
.section-program .context .block { display: flex; padding: 48px 40px; height: 100%; background: var(--background); border-radius: 24px; }
.section-program .context .contents { flex: 1 1; padding-left: 40px; }
.section-program .context .title { margin-bottom: 16px; font-size: 24px; font-weight: 700; }
.section-program .context .text { line-height: 1.65; font-size: 18px; font-weight: 300; }

.section-status { padding-bottom: 180px; }
.section-status .title { font-size: 18px; font-weight: 500; color: #656565; }
.section-status .title b { vertical-align: middle; padding-right: 0.25em; font-size: 40px; font-weight: 700; color: var(--clr-dark); }
.section-status .grid { display: flex; justify-content: space-between; }
.section-status .col { width: 32.3%; }
.section-status .box { padding: 40px; background: var(--background); border-radius: 24px; }
.section-status .text { text-align: right; margin-top: 142px; font-size: 24px; font-weight: 500; }
.section-status .text b { line-height: 1; vertical-align: -2px; font-size: 90px; font-weight: 700; color: #FDBF45; }