<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbin.inno.Starters.DAO.ApplyDAO">

    <select id="getSurveyInfo" resultType="com.kbin.inno.Starters.DTO.ApplyDTO">
        SELECT
             ROWNUMBER
             ,S.SRVY_SN
             ,S.SRVY_TTL            
             ,S.BANE_FILE_SN        
             ,S.TMPR_DEL_YN         
             ,S.SPRT_EXPLN_SN	    
             ,S.RECRU_SE	        
             ,S.RECRU_SCHDL	        
             ,S.RECRU_BGNG_YMD	    
             ,S.RECRU_END_YMD	    
             ,S.RECRU_END_HR	    
             ,S.RECRU_TRGT_M	    
             ,S.RECRU_TRGT_S	    
             ,S.RECRU_FLD_M	        
             ,S.RECRU_FLD_S	        
             ,S.SLCTN_PRCS	        
             ,S.SLCTN_BENEF_CN1	    
             ,S.SLCTN_BENEF_CN2	    
             ,S.SLCTN_BENEF_CN3	    
             ,S.SLCTN_BENEF_CN4	    
        FROM
            (SELECT
                 ROWNUM ROWNUMBER
                  ,A.*
                  ,B.*
             FROM KB_SRVY_EXMN_INFO A, KB_SPRT_EXPLN_INFO B
             WHERE  1=1
               AND A.SRVY_SN = B.SPRT_EXPLN_SN(+)
             ORDER BY A.SRVY_SN DESC) S
        WHERE ROWNUM = 1
    </select>

    <select id="getQuestCnt" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM
            (SELECT
                 ROWNUM ROWNUMBER
                  ,A.*
             FROM KB_SRVY_QSTN_INFO A, KB_SRVY_EXMN_INFO B
             WHERE  1=1
               AND A.SRVY_SN = B.SRVY_SN(+)
               AND B.TMPR_DEL_YN = 'N'
               AND A.SRVY_SN = #{srvy_sn})
    </select>

    <select id="questionInfo" parameterType="com.kbin.inno.Starters.DTO.ApplyDTO" resultType="com.kbin.inno.Starters.DTO.ApplyDTO">
        SELECT
              rnum
             ,SRVY_QSTN_SN
             ,SRVY_SN
             ,QSTN_TYPE
             ,SRVY_QSTN
             ,SRVY_DTL_QSTN
             ,ESNTL_VL_YN
             ,FRST_RGTR
             ,FRST_REG_DT
             ,LAST_MDFR
             ,LAST_MDFCN_DT
        FROM
            (SELECT
                 ROWNUM rnum
                  ,A.*
             FROM KB_SRVY_QSTN_INFO A, KB_SRVY_EXMN_INFO B
             WHERE  1=1
               AND A.SRVY_SN = B.SRVY_SN(+)
               AND B.TMPR_DEL_YN = 'N'
               AND A.SRVY_SN = #{srvy_sn})
        WHERE rnum = #{current_cnt}
    </select>

    <select id="questionCheckboxList" parameterType="com.kbin.inno.Starters.DTO.ApplyDTO" resultType="com.kbin.inno.Starters.DTO.ApplyDTO">
        SELECT
             ROWNUM rnum
            ,A.SRVY_ANS_SN            
            ,A.SRVY_QSTN_SN           
            ,A.ANS_CN                 
            ,A.AFTR_MVMN              
            ,A.FRST_RGTR              
            ,A.FRST_REG_DT            
            ,A.LAST_MDFR              
            ,A.LAST_MDFCN_DT          
            ,A.RSPNS_YMD              
            ,B.SRVY_QSTN              
            ,B.SRVY_DTL_QSTN          
        FROM KB_SRVY_ANS_INFO A, KB_SRVY_QSTN_INFO B
        WHERE 1=1
          AND A.SRVY_QSTN_SN = B.SRVY_QSTN_SN(+)
          AND B.SRVY_SN = #{srvy_sn}
          AND A.SRVY_QSTN_SN = #{srvy_qstn_sn}
        ORDER BY SRVY_ANS_SN
    </select>

    <insert id="saveAnswer" parameterType="com.kbin.inno.Starters.DTO.ApplyDTO">
        INSERT INTO KB_SRVY_RSPNS_INFO
        (
            SRVY_RSPNS_SN
            ,SRVY_QSTN_SN
            ,RSPNS_CN
            ,CONM
            <if test="atch_file_sn != null and atch_file_sn != ''">
            ,ATCH_FILE_SN	
            </if>
            ,RSPNS_YMD	    
            ,PRGRS_STTS	    
        )
        VALUES
        (
            (SELECT NVL(MAX(SRVY_RSPNS_SN), 0) + 1 FROM KB_SRVY_RSPNS_INFO)
            , #{srvy_qstn_sn, jdbcType=VARCHAR}
            , #{rspns_cn, jdbcType=VARCHAR}
            , #{conm, jdbcType=VARCHAR}
            <if test="atch_file_sn != null and atch_file_sn != ''">
            , #{atch_file_sn}
            </if>
            , TO_CHAR(SYSDATE, 'YYYYMMDD')
            , 0
        )
    </insert>

    <insert id="finalSubmit" parameterType="com.kbin.inno.Starters.DTO.ApplyDTO">
        INSERT INTO KB_SRVY_RSPNS_INFO
        (
            SRVY_RSPNS_SN
            ,SRVY_QSTN_SN
            ,RSPNS_CN
            ,CONM
            <if test="atch_file_sn != null and atch_file_sn != ''">
                ,ATCH_FILE_SN
            </if>
            ,RSPNS_YMD	    
            ,PRGRS_STTS	    
        )
        VALUES
        (
            (SELECT NVL(MAX(SRVY_RSPNS_SN), 0) + 1 FROM KB_SRVY_RSPNS_INFO)
            , #{srvy_qstn_sn, jdbcType=VARCHAR}
            , #{rspns_cn, jdbcType=VARCHAR}
            , #{conm, jdbcType=VARCHAR}
            <if test="atch_file_sn != null and atch_file_sn != ''">
                , #{atch_file_sn}
            </if>
            , TO_CHAR(SYSDATE, 'YYYYMMDD')
            , 0
        )
    </insert>
</mapper>