<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbin.inno.Main.DAO.MainDAO">
    <!-- 육성 현황 조회 -->
    <select id="selectResult" resultType="com.kbin.inno.Main.DTO.ResultDTO">
        /* 육성 현황 조회 */
        SELECT ENT_NOCS
             , ENT_CRTR_YMD
             , INVEST_NOCS
             , INVEST_CRTR_YMD
             , AFFILIATE_NOCS
             , AFFILIATE_CRTR_YMD
          FROM KB_RSLT_INFO
    </select>
    <!-- 메인 비주얼 조회 -->
    <select id="selectVisual" resultType="com.kbin.inno.Main.DTO.VisualDTO">
        /* 메인 비주얼 조회 */
        SELECT VISUAL.MAIN_SN      AS MAIN_SN
             , VISUAL.MAIN_CN      AS MAIN_CN
             , FILES.ORGNL_FILE_NM AS ORIGIN_FILE_NAME
             , FILES.FILE_NM       AS MAIN_FILE_NAME
             , FILES.FILE_PATH     AS MAIN_PATH
        FROM KB_MAIN_INFO VISUAL
           , KB_FILE_INFO FILES
        WHERE VISUAL.ATCH_FILE_SN = FILES.FILE_SN(+)
          AND VISUAL.EXPSR_YN = 'Y'
        ORDER BY VISUAL.SORT_NO ASC
    </select>
    <!-- 팝업 조회 -->
    <select id="selectPopup" resultType="com.kbin.inno.Main.DTO.PopupDTO">
        /* 팝업 조회 */
        SELECT POPUP_SN
             , MNGR_TTL
             , BGNG_YMD
             , BGNG_HR
             , END_YMD
             , END_HR
             , POPUP_LEFT_PSTN
             , POPUP_TOP_PSTN
             , REPLACE(POPUP_CN, 'kbinnovationhub_devadm', 'kbinnovationhub') POPUP_CN
          FROM KB_POPUP_INFO
         WHERE 1 = 1
           AND TO_CHAR(TO_DATE(END_YMD, 'YYYYMMDD'), 'YYYYMMDD') || ' ' || TO_CHAR(TO_DATE(END_HR, 'HH24MI'), 'HH24MI') >= TO_CHAR(SYSDATE, 'YYYYMMDD HH24MI');
    </select>

    <select id="selectHistory" resultType="com.kbin.inno.Main.DTO.HistoryDTO">
        SELECT HSTRY_YR
             , HSTRY_LCLSF_SN
             , HSTRY_LCLSF_TTL
             , HSTRY_LCLSF_SORT_NO
             , HSTRY_SCLSF_SN
             , HSTRY_SCLSF_TTL
             , HSTRY_SCLSF_SORT_NO
             , HSTRY_SCLSF_UP_LCLSF_SN
             , CASE WHEN LAG(HSTRY_LCLSF_SN) OVER (PARTITION BY HSTRY_YR ORDER BY HSTRY_LCLSF_SN ASC, HSTRY_SCLSF_SN ASC) IS NULL THEN 0
               ELSE LAG(HSTRY_LCLSF_SN) OVER (PARTITION BY HSTRY_YR ORDER BY HSTRY_LCLSF_SN ASC, HSTRY_SCLSF_SN ASC)
               END AS DISPLAY_YN
             , '항목 ' || HSTRY_LCLSF_SN AS H_TITLE
             , 'main_sn' || HSTRY_LCLSF_SN AS MAIN_SN
             , 'sub_sn' || HSTRY_SCLSF_SN AS SUB_SN
             , COUNT(HSTRY_LCLSF_SN) OVER (PARTITION BY HSTRY_YR ORDER BY HSTRY_LCLSF_SN ASC) CNT_OVER
          FROM KB_CO_HSTRY_INFO
         WHERE 1 = 1
         ORDER BY HSTRY_YR DESC, HSTRY_LCLSF_SN ASC, HSTRY_SCLSF_SN ASC
    </select>

    <!-- 메뉴 조회 -->
    <select id="selectMenu" resultType="com.kbin.inno.Main.DTO.MenuDTO">
        /* 메뉴 조회 */
        SELECT MENU_NM
             , MENU_SN
             , MENU_DEPTH
             , MENU_UP_SN
             , MENU_LINK
             , MENU_SORT
        FROM KB_USER_MENU
        WHERE USE_YN = 'Y'
        ORDER BY MENU_SN, MENU_SORT
    </select>
</mapper>