<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
    <!-- 헤더 -->
    <app-header></app-header>

    <!-- 본문 -->
    <main class="main">
        <div class="section-top">
            <div class="section-top-wrap">
                <nav aria-label="Breadcrumb" class="breadcrumb" data-breadcrub-theme="light">
                    <ul>
                        <li class="item"><a th:href="@{/}"><i class="icon icon-home"></i><span class="blind">HOME</span></a></li>
                        <li class="item"><a th:href="@{/starters/apply/apply_main}">KB스타터스</a></li>
                        <li class="item"><span aria-current="page">포트폴리오</span></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="portfolio">
            <div class="portfolio-side">
                <div class="sticky">
                    <div class="swiper tab">
                        <div class="swiper-wrapper list" id="nav-year">
                        </div>
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>
            </div>
            <div class="portfolio-main" id="port-list">
            </div>
        </div>
    </main>

    <!-- 푸터 -->
    <app-footer></app-footer>

    <!-- 스크립트 -->
    <script>
        $(document).ready(function (){
            const year = "latest";   //메뉴 처음 들어왔을때를 구분하기 위한 flag
            goPage(year);
        });

        function goPage(year) {
            $.ajax({
                url: window.staticPath + 'starters/portfolio/getyear',
                type: 'POST',
                dataType: 'json',
                success: function(data) {
                    if (data.portYearList && data.portYearList.length > 0) {
                        const portYearList = data.portYearList;
                        let htmlCode = '';
                        for(let i = 0; i < portYearList.length; i++) {
                            htmlCode += '<div class="swiper-slide item">';
                            htmlCode += '   <a class="button" href="#portfolio-'+portYearList[i].port_yr+'" onclick="selectList('+portYearList[i].port_yr+')">';
                            htmlCode += '       <span>'+portYearList[i].port_yr+'</span><i class="icon"></i>';
                            htmlCode += '   </a>';
                            htmlCode += '</div>';
                        }
                        $('#nav-year').html(htmlCode);

                        // sectionHistory();

                        if(year == 'latest'){  //메뉴 처음 들어왔을때 기본값 지정. 가져온 yearList 중에 가장 큰 숫자(최신년도)로 셋팅.
                            const latestYear = Math.max(...portYearList.map(item => parseInt(item.port_yr, 10)));
                            selectList(latestYear);
                        }else{
                            selectList(year);
                        }

                    }else{
                        $('#nav-year').html('<p>등록된 년도 정보가 없습니다.</p>');
                    }
                },error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function selectList(year) {
            $.ajax({
                url: window.staticPath + 'starters/portfolio/selectList',
                type: 'POST',
                dataType: 'json',
                data : { keyword : year },
                success: function(data) {
                    if (data.selectList && data.selectList.length > 0) {
                        const selectList = data.selectList;
                        let htmlCode = '';
                        htmlCode += '<div id="portfolio-'+selectList[0].port_yr+'" class="row">';
                        htmlCode += '   <p class="heading heading-dot">'+selectList[0].port_yr+'</p>';
                        htmlCode += '       <ul class="list">';
                        for(let i = 0; i < selectList.length; i++) {
                            htmlCode += '           <li class="item">';
                            htmlCode += '               <div class="block">';
                            htmlCode += '                   <div class="image"><img src="'
                                + (window.staticPath.replace(/\/+$/, '')) + selectList[i].file_path+selectList[i].file_name+'" alt=""></div>';
                            htmlCode += '                   <div class="context">';
                            htmlCode += '                       <p class="text">'+selectList[i].intro_cn+'</p>';
                            htmlCode += '                       <p class="title">'+selectList[i].bzenty_nm+'</p>';
                            htmlCode += '                       <a class="link" href="'+selectList[i].hmpg_link+'" target="_blank"></a>';
                            htmlCode += '                   </div>';
                            htmlCode += '               </div>';
                            htmlCode += '           </li>';
                        }
                        htmlCode += '       </ul>';
                        htmlCode += '</div>';

                        $('#port-list').html(htmlCode);

                    }else{
                        $('#port-list').html('<p>등록된 포트폴리오가 없습니다.</p>');
                    }
                },error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }


        let sticky, computedStyle, gap;

        window.addEventListener('DOMContentLoaded', () => {
            const hash = window.location.hash;
            const rows = document.querySelectorAll('.portfolio-main .row');

            sticky = document.querySelector('.portfolio-side .sticky');
            computedStyle = window.getComputedStyle(sticky);
            gap = parseInt(computedStyle.top, 10);

            sr.reveal('.portfolio-side .tab', { distance: 0 });
            sr.reveal('.portfolio-main .heading', { duration: 800 });
            rows.forEach((row) => sr.reveal(row.querySelectorAll('.item'), { duration: 800, interval: 60 }));


        });

        function slideToSection(id) {
            lenis.scrollTo(id, { offset: -gap, duration: 0.65 });
        }

        function sectionHistory() {
            const scroll = document.querySelector('.sticky-container .scroll');
            const tabs = document.querySelectorAll('.portfolio-side .tab .button');

            let prev = tabs[0];
            prev.setAttribute('aria-selected', 'true');

            mobileTabMenu = new Swiper('.portfolio-side .tab', {
                enable: false,
                allowTouchMove: true,
                speed: 300,
                slidesPerView: 'auto',
                slidesPerGroup: 1,
                spaceBetween: 6,
                breakpoints: {
                    1025: {
                        allowTouchMove: false,
                    }
                },
                scrollbar: {
                    el: '.portfolio-side .tab .swiper-scrollbar',
                    draggable: true,
                },
            });

            tabs.forEach((tab, i) => {
                const href = tab.getAttribute("href");
                let element = document.querySelector(href);

                ScrollTrigger.create({
                    trigger: element,
                    start: "top center",
                    end: "bottom bottom",
                    onToggle: self => self.isActive && setActive(tab, i)
                    // markers: true
                });

                tab.addEventListener('click', () => slideToSection(href));
            });

            function setActive(link, i) {
                prev.removeAttribute('aria-selected', 'false')
                tabs[i].setAttribute('aria-selected', 'true')
                prev = tabs[i];
                mobileTabMenu.slideTo(i, 100);
            }
        }
    </script>

</body>
</html>